.App {
  text-align: center;
}

.cards {
  align-items: center;
  height: 50vh;
  overflow-y: scroll;
  
}

.title {
  font-size: 24px;
  margin: 12px;
}

.tableData {
  height: 40vh;
  overflow: scroll;
}

.cardColumns {
  column-count: 4 !important;
}

@media (max-width: 1500px) {
  .cardColumns {
    column-count: 4 !important;
  }
}

/* .data-card {
  width: 20%;
  display: inline-block;
  margin: 10px;
} */
